.cvsignore
CVS/
FerrisStreams/.cvsignore
FerrisStreams/CVS/
FerrisStreams/Makefile
FerrisStreams/Makefile.in
FerrisStreams/semantic.cache
Makefile
Makefile.in
aclocal.m4
autom4te-2.53.cache/
autom4te.cache/
config.guess
config.sub
configure
configure.in.~1.12.~
depcomp
ferrisstreams*tar.bz2
ferrisstreams*gz
ferrisstreams*xz
ferrisstreams.pc
ferrisstreams.spec
install-sh
ltmain.sh
missing
mkinstalldirs
testrun.log
testrun.sum
