.cvsignore
CVS/
compile
archives
FerrisStreams/.cvsignore
FerrisStreams/CVS/
FerrisStreams/Makefile
FerrisStreams/Makefile.in
FerrisStreams/semantic.cache
Makefile
Makefile.in
aclocal.m4
autom4te-2.53.cache/
autom4te.cache/
config.guess
config.sub
configure
configure.in.~1.12.~
depcomp
ferrisstreams*tar.bz2
ferrisstreams*gz
ferrisstreams*xz
ferrisstreams.pc
ferrisstreams.spec
install-sh
ltmain.sh
missing
mkinstalldirs
testrun.log
testrun.sum

testsuite/ferrisstreams.test/ferrisstreams.exp~
testsuite/sampledata/Makefile.am~

debian/README.Debian
debian/compat
debian/copyright
debian/cron.d.ex
debian/dirs
debian/docs
debian/emacsen-install.ex
debian/emacsen-remove.ex
debian/emacsen-startup.ex
debian/ferrisstreams-default.ex
debian/ferrisstreams-dev.debhelper.log
debian/ferrisstreams-dev.dirs
debian/ferrisstreams-dev.install
debian/ferrisstreams-dev.substvars
debian/ferrisstreams-dev/
debian/ferrisstreams.doc-base.EX
debian/ferrisstreams1.debhelper.log
debian/ferrisstreams1.dirs
debian/ferrisstreams1.install
debian/ferrisstreams1.substvars
debian/ferrisstreams1/
debian/files
debian/init.d.ex
debian/manpage.1.ex
debian/manpage.sgml.ex
debian/manpage.xml.ex
debian/menu.ex
debian/postinst.ex
debian/postrm.ex
debian/preinst.ex
debian/prerm.ex
debian/shlibs.local.ex
debian/tmp/
debian/watch.ex

ferrisstreams.log
ferrisstreams.sum

testsuite/ut_close_signal
testsuite/ut_fd_streams
testsuite/ut_limiting_istream
testsuite/ut_nullstream
testsuite/ut_proxy_streams
testsuite/ut_radix_dump
testsuite/ut_stringstream
testsuite/ut_tee_stream

